/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Domine&family=Lobster&display=swap");

h1 {
  font-family: "Lobster", cursive;
}
h3 {
  font-family: "Acme", sans-serif;
}
p {
  font-family: "Domine", serif;
}
.input-button:hover {
  background: black;
  color: white;
  border: none;
}
.horizontal {
  border: 2px solid rgb(7, 5, 5);
}
